@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');



body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #3D4853
}


.ReactTable .rt-thead .rt-th {
  outline: none;
  border-color: #38414B !important;
}

.ReactTable .rt-thead .rt-th.-sort-desc {
  box-shadow: inset 0 -3px 0 0 #B2B5B9 !important;
}

.ReactTable .rt-thead .rt-th.-sort-asc {
  box-shadow: inset 0 3px 0 0 #B2B5B9 !important;
}

.logo:hover{
  background:#3D4853!important;
}

.ui.search > .results {
  overflow-y: auto;
  max-height: 550px;
}
